/* Background */
body {
    margin: 0;
    font-family: 'Segoe UI';
    background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: white;
}

/* Center container */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* Form box */
.box {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}

/* Inputs */
input {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* Button */
button {
    width: 95%;
    padding: 10px;
    background: #6c9eff;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #4a7df0;
}

/* Jobs section */
.jobs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 40px;
}

/* Card */
.card {
    background: white;
    width: 250px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Title */
.hero {
    text-align: center;
    margin-top: 40px;
}
input[type="file"] {
    margin-top: 10px;
}
.banner {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.banner img {
    width: 80%;
    max-width: 800px;
    border-radius: 15px;
}
/* Hero text */
.hero {
    text-align: center;
    margin-top: 40px;
}

.hero h1 {
    font-size: 36px;
}